@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}


.p-speeddial-action {
    background-color: #2dd4bf !important;
    color: white;
}

.input {
    width: 248px !important;
}

.p-paginator .p-component {
    background-color: none !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #ccfbf1;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccfbf1;
}